# Ignore Python virtual environment
venv/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore sensitive configuration files
config/db.py
**/db.py

# Ignore Flutter build output
build/

# IDE-specific files
.idea/
.vscode/

# Ignore Node.js dependencies
node_modules/
```